name: Zig CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: mlugg/setup-zig@v2
        with:
          version: master
      - name: Check formatting
        run: zig fmt --check .
      - name: Build
        run: zig build
      - name: Run tests
        run: zig build test
