name: Zig CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: mlugg/setup-zig@v2
        with:
          version: master
      - name: Check formatting
        run: zig fmt --check .
      - name: Run tests
        run: zig build test
      - name: Check mutex and leaks
        run: |
          zig build
          ./zig-out/bin/benchmark
      - name: Run benchmark
        run: |
          zig build -Doptimize=ReleaseSafe
          ./zig-out/bin/benchmark
